body{
    background: rgb(128, 128, 128);
    margin-left: 50px;
    margin-right: 200px;
}

header{
    margin-top: 50px;
}

h1{
    color: red;
    font-family: fantasy;
}

h2{
    font-family: fantasy;
}

p{
    font-size: 18px;
}

footer{
    margin-bottom: 50px;
}

.img_padrao{
    margin-bottom: 25px; width: 300px;
}

.img_padrao1{
    margin-bottom: 25px; width: 100px;
}

.logo{
    width: 25px;
}